{% extends "bakery/base.html" %}
{% load static %}

{% block title %}
  Корзина покупок
{% endblock %}

{% block content %}
  <h1>Корзина покупок</h1>
  <table class="cart">
    <thead>

    </thead>
    <tbody>
      {% for one in order %}
        {% with product=one.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>

            <td>
              {{ one.quantity }}
            </td>
            <td class="num">${{ one.price }}</td>

          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Всего</td>
        <td colspan="4"></td>

      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'bakery:product_list' %}" class="button light">В магазин</a>
    <a href="#" class="button">Оформить заказ</a>
  </p>
{% endblock %}