{% extends "bakery/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }}{% else %}Пекарня Н.{% endif %}
{% endblock %}
{% block content %}
<div id="main" class="product-list">

    {% for product in products %}
    <div class="item">
        <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static 'img/no_image.png' %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        <br>
        {{ product.price }} р.
    </div>
    {% endfor %}
</div>
{% endblock %}